#messenger-content {
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
  position: relative;
}

.messenger-container {
  .dialogs {
    flex: 1;
  }
  .messages {
    flex: 1.5;
  }
}

.messenger-container {
  display: flex;
  width: 100%;
  .online {
    position: relative;
    left: 3px;
    display: inline-block;
    border-radius: 50%;
    background-color: #8dc63f;
    @include size(10px);
  }
  .message-block {
    width: 98%;
    display: block;
    max-height: 90px;
    .add {
      display: inline-block;
      height: 35px;
      width: 35px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }
    textarea {
      width: 100%;
      margin: 15px 0 0;
      padding: 0 110px 0 60px;
    }
    label {
      bottom: 5px;
    }
    .controls {
      bottom: 10px;
      width: 115px;
    }
  }
  .popover {
    $bgc: #fff;
    opacity: 1;
    padding: 0;
    border: none;
    margin-top: -25px;
    .arrow {
      border-top-color: #cad3df;
      bottom: -40px;
      border-width: 20px;
      &:after {
        border-top-color: #eceff4;
        bottom: -19px;
        margin-left: -20px;
        border-width: 20px;
      }
    }
    .popover-content {
      background-color: $bgc;
      max-width: 270px;
      width: 270px;
      padding: 0;
      border-radius: 5px;
      border: 1px solid #cad3df;
    }
    .head {
      font-family: "Panton-Regular", serif;
      font-size: 20px;
      color: #8493a8;
      background-color: #eceff4;
      border-bottom: 1px solid #cad3df;
      text-align: left;
      padding: 20px 30px;
      position: relative;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .popover {
        margin-left: 15px;
        .arrow {
          display: none;
        }
        .popover-content {
          max-width: 220px;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            border-bottom: 1px solid #cad3df;
            padding: 0 30px;
            &:last-child {
              border-bottom: none;
            }
            &:hover {
              background: #eceff4;
              a {
                color: #0082d5;
              }
            }
            a {
              text-decoration: none;
              font-family: "Panton-Regular", serif;
              font-size: 15px;
              color: #54657e;
              line-height: 50px;
            }
          }
        }
      }
    }
    .footer {
      position: relative;
      bottom: 0;
      overflow: hidden;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      span {
        background-color: #eceff4;
      }
      input {
        box-shadow: none;
        font-size: 15px;
        @include placeholder {
          font-family: "Roboto-Light";
          font-size: 15px;
          color: #8493a8;
        }
      }
    }
    .content {
      max-height: 420px;
      overflow: hidden;
      .item {
        display: table;
        width: 100%;
        .avatar {
          display: table-cell;
          width: 60px;
          padding: 10px;
          position: relative;
          display: inline-block;
          .avatar-online {
            display: inline-block;
            border-radius: 50%;
            border: 2px solid #fff;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
        .name, .action {
          display: table-cell;
          vertical-align: middle;
        }
        .name {
          font-family: "Panton-Regular", serif;
          font-size: 15px;
          color: #54657e;
        }
        .action {
          width: 40px;
          text-align: center;
          .icon {
            display: none;
            cursor: pointer;
          }
        }
        &.user-online {
          .avatar-online {
            background: #04be5b;
            height: 10px;
            width: 10px;
          }
        }
        &.user-busy {
          .avatar-online {
            background: #ff9948;
            height: 10px;
            width: 10px;
          }
        }
        &.user-exists {
          .avatar, .name {
            opacity: .5;
          }
        }
        &:hover {
          .action {
            .icon {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.messages {
  display: flex;
  flex-direction: column;
  > ul {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #d9d9d9;
    li {
      list-style: none;
    }
  }

  .chbox {
    visibility: hidden;
    min-width: 60px;
    @include user-select(none);
    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
    }
    label {
      cursor: pointer;
      font-weight: normal;
      margin-bottom: 0;
      @include size(31px);
    }
    input[type="checkbox"] + label {
      background: url(/images/checkbox-big.png) 0 -31px no-repeat;
    }
    input[type="checkbox"]:checked + label {
      opacity: 1;
      background-position: 0 0;
    }
  }
}

aside .messages .chbox {
  display: none;
}

.message-container:first-child {
  padding-bottom: 8px;
}

.message-container {
  display: flex;
  cursor: pointer;
  padding: 1px;
  @include user-select();
  > div {
    cursor: auto;
  }
  .options {
    display: none;
    $background: #aaacad;
    background-color: $background;
    border-radius: 5px;
    position: absolute;
    height: 20px;
    width: 75px;
    text-align: center;
    top: -22px;
    right: 3px;
    .arrow-down {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid $background;
      position: absolute;
      left: 50%;
      margin-left: -6px;
    }
    .icon + .icon {
      margin-left: 5px;
      position: relative;
      top: 1px;
    }
  }
  &:hover {
    background-color: lighten(#eceff4, 3%);
    .chbox {
      visibility: hidden;
      label {
        opacity: 0.5;
      }

    }
  }
  .message {
    flex: 1;
    display: flex;
    padding: 2px 6px 4px 6px;
    .avatar {
      width: 55px;
    }
    .text {
      flex: 1;
      background-color: #4aa1d9;
      border-radius: 5px;
      position: relative;
      color: #ffffff;
      font-family: "Panton-Regular", serif;
      font-size: 12px;
      padding: 16px;
      margin: 12px 15px 0 0;
      @include user-select(text);
      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: -10px;
        top: 10px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 10px solid #4aa1d9;
      }
    }
    .time {
      margin: 4px 8px;
      align-self: center;
      font-family: "Roboto-Regular", serif;
      font-size: 10px;
      color: #aaacad;
    }
  }
  &.active {
    background-color: #eceff4;
    .chbox {
      display: block;
    }
  }
  &.right {
    flex-direction: row-reverse;
    .message {
      flex-direction: row-reverse;
    }
  }
  &.left {
    .text {
      background-color: #eceff4;
      margin-right: 0;
      margin-left: 15px;
      color: #999999;
      &:after {
        right: auto;
        left: -10px;
        top: 10px;
        border-left: none;
        border-right: 10px solid #eceff4;
      }
    }
    .time {
      text-align: left;
      margin-top: 4px;
      right: auto;
      left: 103%;
    }
    .chbox {
      right: 10px;
    }
    .options {
      left: 2px;
      right: auto;
    }
    &.active {
      .text {
        background-color: #fff;
      }
    }
  }
}

.messenger-container > .dialogs {
  flex-direction: column;
}

aside .dialogs {
  flex-direction: column-reverse;
}

.dialogs {
  height: 100%;
  display: flex;
  align-items: stretch;
  .wrap-many {
    display: flex;
    flex-flow: row wrap;
    img {
      width: 50%;
      height: 50%;
    }
  }
  > ul {
    flex: 1;
    border: 1px solid #d9d9d9;
    padding: 0;
    margin: 0;
    > li:first-child {
      border-top: none;
    }
    li {
      list-style: none;
      padding-left: 15px;
      overflow: hidden;
      border-top: 1px solid #d9d9d9;
      &:hover {
        background-color: #eceff4;
        a .icon {
          display: inline-block;
        }
      }
      .photo {
        width: 55px;
        float: left;
        margin: 10px 0;
        position: relative;
        .count {
          background: #0084ff;
          border-radius: 5px;
          font-family: "Panton-Regular", serif;
          font-size: 12px;
          color: #ffffff;
          position: absolute;
          bottom: -5px;
          right: 0;
          padding: 0px 5px;
        }
      }
      .content {
        display: block;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        padding: 15px 0 0 5px;
        .name {
          color: #656a6e;
          font-size: 14px;
          font-family: "Panton-Regular", serif;
        }
        .last {
          color: #999999;
          font-size: 12px;
          font-family: "Panton-Regular", serif;
        }
        .icon {
          display: none;
          position: absolute;
          right: 5px;
          top: 5px;
        }
        .date {
          font-family: "Panton-Regular", serif;
          font-size: 10px;
          color: #999999;
          position: absolute;
          right: 20px;
          top: 17px;
        }
      }
    }
  }
}

.search {
  display: flex;
  > * {
    height: 45px;
  }
  input[type="search"] {
    background-color: #eceff4;
    flex: 1;
    padding-left: 12px;
    border: 0 solid #eceff4;
  }
  button {
    background-color: #e0e0e0;
    border: none;
    width: 45px;
    color: #c7c7c7;
    padding: 0;
    .icon {
      vertical-align: middle;
    }
  }
  .add {
    font-size: 40px;
  }
}
