.title {
  margin-left: 140px;
  h1, h2 {
    font-family: Panton-Regular, serif;
  }
}

#signup-page {
  $blue: #147ce4;
  $light-blue: #cad3df;

  min-height: 100vh;

  h1 {
    color: $blue;
    font-size: 28px;
  }
  h2 {
    color: $light-blue;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 48px;
  }
  form.signup {
    position: relative;
    margin: auto;
  }
  hr {
    margin-bottom: -22px;
    border-top: 2px solid $light-blue;
  }
  .step {
    position: absolute;
    width: 100%;
    fieldset {
      margin-top: 36px;
      display: none;
      &.single {
        [type="text"], button {
          display: inline-block;
          width: 180px;
          height: 34px;
        }
        [type="text"] {
          margin-right: 8px;
        }
        [type="checkbox"] {
          margin-right: 8px;
        }
      }
    }
    &.active {
      .step-label .number {
        background-color: $blue;
      }
      fieldset {
        display: block;
        text-align: center;
      }
    }
    .step-label {
      display: inline-block;
      text-align: center;
      .number {
        background-color: $light-blue;
        width: 40px;
        line-height: 32px;
        border-radius: 50%;
        color: white;
        text-align: center;
        border: 4px solid white;
      }
      .text {
        text-transform: uppercase;
      }
    }
  }

  #verify {
    text-align: center;
  }

  #about {
    text-align: right;
  }
  @media (min-width: 769px) {
    form.signup {
      width: 640px;
    }
  }
  @media (max-width: 768px) {
    form.signup {
      margin: auto 12px;
    }
  }
}
