.scroll {
  overflow-y: auto !important;
}

.blog main {
  margin-top: -220px;
  margin-bottom: 400px;
}

.blog .user-container {
  min-height: 256px;
}

textarea:hover, textarea:focus {
  border: none !important;
}

.busy {
  opacity: 0.2;
  //transition: opacity 300ms;
}
