.scroll {
  overflow-y: auto !important;
}

.blog main {
  margin-top: -220px;
  margin-bottom: 400px;
}

.blog .user-container {
  min-height: 256px;
}

textarea:hover, textarea:focus {
  border: none !important;
}

.busy {
  opacity: 0.2;
  //transition: opacity 300ms;
}

.add-external-video {
  text-align: center;
}

.video-url {
  display: flex;
  input {
    border: none;
    border-bottom: 1px solid black;
    flex-grow: 1;
  }

  > * {
    padding: 6px 12px;
  }
}

header textarea {
  background-color: transparent;
  border: 1px solid transparent;
  width: 100%;
  &:focus {
    border-color: white;
  }

  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
    color: white;
  }
}

.blog-edit {
  .form-group {
    display: flex;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-bottom: 24px;
  }

  label {
    min-width: 80px;
  }

  .form-control {

  }

  [type=submit] {
    float: right;
  }
}
