.photo-container {
  $item-background: #eceff4;
  box-shadow: 0px -1px 0px 0px #fff;
  padding-top: 10px;
  padding-bottom: 120px;
  .albums {
    display: block;
    overflow: hidden;
    .item {
      width: 32%;
      background: $item-background;
      padding: 5px;
      margin: 0.66%;
      float: left;
      .image {
        position: relative;
        height: 120px;
        width: 100%;
        background-size: cover;
        background: no-repeat center;
        &:before {
          content: '';
          background: url(/images/iconpack.png) no-repeat;
          display: inline-block;
          @include sprite(-652px, -3px, 35px, 31px);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          cursor: pointer;
          &:before {
            background: rgba(0, 0, 0, .45) none;
            width: auto;
            height: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: none;

          }
          &:after {
            content: attr(data-count);
            font-family: "Panton-Regular", serif;
            font-size: 36px;
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      h5 {
        font-family: "Panton-Regular", serif;
        font-size: 14px;
        text-align: center;
        color: #aaacad;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }
  }
  .photos {
    margin-top: 20px;
    display: block;
    overflow: hidden;
    .item {
      width: 19%;
      background: $item-background;
      padding: 5px;
      margin: 0.5%;
      float: left;
    }
    .image {
      cursor: pointer;
      display: block;
      position: relative;
      height: 80px;
      width: 100%;
      background-size: cover;
      background: no-repeat center;
    }
  }
}