// _mixins.scss

// @Bourbon config
@import "{wolves:bourbon}/bourbon";
@mixin sprite($x: 0, $y: 0, $width: 0, $height: 0) {
  background-position: $x $y;
  width: $width;
  height: $height;
}

@mixin spriteMax($x: 0, $y: 0, $width: 130px, $height: 130px) {
  background-position: $x $y;
  max-width: $width;
  max-height: $height;
}
