$post-footer-text-color: #cad3df;
$slider-size: 16px;
.wrap {
  background: #fff;
}

.h100 {
  height: calc(100vh - 253px);
}

$user-menu-height: 55px;
$user-menu-background: #eceff4;
$user-menu-border-radius: 5px;
$user-menu-border-color: #ddddde;

[role="main"] {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

.vertical-panel {
  height: inherit;
}

#central {
  max-width: 1100px;
  overflow-y: auto;
  flex: 1;
  > * {
    width: inherit;
    max-width: none;
    overflow: auto;
  }
}

@media (min-width: 769px) {
  #desktop main {
    margin-top: -220px;
  }
}

main {
  .user-block {
    padding: 0 40px;
  }
  .wrapper {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #dcdcdc;
    padding: 10px;
  }
  .user-container {
    border-top: 1px solid #ccc;
  }
  .blog-info {
    margin-top: 20px;
    min-height: 100px;
    font-family: "Panton-Regular";
    color: #ffffff;
    h4 {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    div > div {
      font-size: 14px;
      color: #fff;
      margin-bottom: 10px;
      opacity: .65;
    }
    span {
      margin-right: 5px;
      position: relative;
      top: 3px;
    }
    p {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
  .user-warning {
    width: 95%;
    color: rgb(255, 153, 72);
    font-family: "Panton-Regular";
    font-size: 15px;
    line-height: 55px;
    height: 55px;
    background-color: rgb(255, 240, 228);
    border: 1px solid rgb(255, 153, 72);
    border-radius: 5px;
    span {
      position: relative;
      top: 6px;
      margin-right: 10px;
    }
  }

  .friends {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    .friend {
      width: 23%;
      height: $user-menu-height;
      background-color: $user-menu-background;
      background-size: cover;
      border-radius: $user-menu-border-radius;
      font-family: "Roboto-Regular";
      color: #999999;
      font-size: 13px;
      text-decoration: none;
      text-align: center;
      line-height: 52px;
      padding-right: 3px;
      &.count {
        border: 1px solid $user-menu-border-color;
      }
    }
  }
  .subscribers {
    background-color: $user-menu-background;
    border-radius: $user-menu-border-radius;
    border: 1px solid $user-menu-border-color;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px 20px;
    font-family: "Panton-Regular";
    font-size: 14px;
    color: #656a6e;
    a {
      color: #656a6e;
      text-decoration: underline;
      &:hover {
        color: lighten(#656a6e, 10%);
      }
    }
    .last-subscribers {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      height: 40px;
      > img {
        cursor: pointer;
        height: 100%;
        width: auto;
      }
    }
  }
  .add-friend {
    margin: 20px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Panton-Regular";
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 58px;
    background-color: #f1592a;
    background-image: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 0.3) 100%);
    border: 2px solid #f2f2f2;
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.1);
    outline: none;
    &:hover {
      background-image: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 0.5) 100%);
    }
    &:active {
      background-image: none;
    }
  }
  .add-group {
    margin: 20px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Panton-Regular";
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 58px;
    background-color: #25aae1;
    background-image: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 0.3) 100%);
    border: 2px solid #f2f2f2;
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.25), inset 0 0 2px rgba(0, 0, 0, 0.1);
    outline: none;

    &:hover {
      background-image: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 0.5) 100%);
    }
    &:active {
      background-image: none;
    }
  }

  @import "photoalbum";
}

.posts {
  margin-bottom: 120px;
  article {
    font-family: "Panton-Regular";
    display: table;
    table-layout: fixed;
    max-width: 100%;
    width: 100%;
    .post-content {
      display: table-cell;
      vertical-align: top;
      padding: 10px;
      > p {
        margin: 0;
        font-size: 12px;
        color: #999999;
      }
      .content-head {
        position: relative;
        > a.name {
          margin: 0;
          color: #656a6e;
          font-size: 16px;
          &:hover {
            text-decoration: none;
          }
          span {
            font-size: 12px;
            color: #aaacad;
            padding-left: 5px;
          }
        }
        > span {
          color: #a4a4a4;
          font-size: 20px;
          letter-spacing: -1px;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: -7px;
        }
      }
    }
  }

  .posted-by {
    width: 80px;
    display: table-cell;
    .poster-border {
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
    }
    img {
      padding: 5px;
    }
    .poster-wrapper {
      padding: 5px;
      background: #eceff4;
    }
    time {
      display: block;
      text-align: center;
      font-size: 12px;
      color: #999999;
    }
  }
}

.comments {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  .posted-by {
    > img {
      padding: 15px;
    }
    .poster-wrapper {
      background: transparent;
      time {
        display: none;
      }
    }
    .poster-border {
      border-bottom: none;
    }
  }
  .posts {
    margin-bottom: 15px;
  }
  article {
    &:nth-child(even) {
      .post-content {
        background: #eceff4;
      }
    }
  }
}

.message-block {
  position: relative;
  display: block;
  label {
    height: 50px;
    width: 80px;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 10px;
    line-height: 66px;
    margin-bottom: 0;
    cursor: pointer;
  }
  textarea {
    overflow: hidden;
    resize: none;
    outline: none;
    padding: 0 75px 0 60px;
    margin: 15px 0 0;
    width: 100%;
    border: none;
    font-family: "Panton-Regular";
    font-size: 13px;
  }

  .controls {
    text-align: right;
    width: 80px;
    position: absolute;
    right: 0;
    bottom: 15px;
  }
  .send {
    display: inline-block;
    background: #3892cd;
    @include size(35px);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: none;
    .icon {
      position: relative;
      left: 2px;
    }
  }
  .emoji {
    display: inline-block;
    @include size(35px);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
}

.connect-menu {
  height: $user-menu-height;
  background-color: $user-menu-background;
  border-radius: $user-menu-border-radius;
  border: 1px solid $user-menu-border-color;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(even) {
      border-right: 1px solid $user-menu-border-color;
      border-left: 1px solid $user-menu-border-color;

    }
  }
}

.article-footer, .content-footer {
  color: #98a4b5;;
  text-align: right;
  position: relative;
  > div, > label {
    display: inline-block;
    margin-left: 10px;
  }
  .people-likes {
    $background: #eceff4;
    $border: #dcdcdc;
    display: none;
    opacity: 0;
    margin: 0;
    position: absolute;
    right: -20px;
    bottom: 35px;
    background: $background;
    padding: 5px;
    border: 1px solid $border;
    border-radius: 5px;
    z-index: 99;
    > img {
      width: 25px;
      float: left;
      margin: 2px;
      cursor: pointer;
    }
    > span {
      color: #999999;
      font-size: 12px;
      line-height: 28px;
      padding-left: 5px;
      padding-right: 2px;
    }
    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      left: 100%;
      width: 0;
      height: 0;
    }
    &:after {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 16px solid $background;
      bottom: -16px;
      left: 165px;
    }
    &:before {
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 17px solid $border;
      bottom: -17px;
      left: 164px;
    }

  }
}

.switch {

  position: relative;
  display: inline-block;
  top: 6px;
  margin-bottom: 0;
  width: 36px;
  height: 20px;
  input {
    display: none;
    &:checked + .slider {
      background-color: darken($post-footer-text-color, 10%);
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    &:checked + .slider:before {
      transform: translateX(16px);
      @include sprite(-615px, 0px, $slider-size, $slider-size);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $post-footer-text-color;
  border-radius: 34px;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    left: 2px;
    bottom: 2px;
    background: #fff url(/images/iconpack.png) no-repeat;
    border-radius: 50%;
    @include sprite(-597px, 0px, $slider-size, $slider-size);
    transition: .4s;
  }
}

.switch-dislike {
  position: relative;
  top: 6px;
  display: inline-block;
  width: 55px;
  height: 20px;
  background-color: $post-footer-text-color;
  border-radius: 34px;
  input {
    display: inline-block;
    height: 20px;
    width: 16px;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }
  .slider-dislike {
    background: #fff url(/images/iconpack.png) no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform .2s;
  }
  .none:checked ~ .slider-dislike {
    @include sprite(-597px, 0, $slider-size, $slider-size);
    transform: translateX(17px);
  }
  .liked:checked ~ .slider-dislike {
    @include sprite(-615px, 0, $slider-size, $slider-size);
    transform: translateX(35px);
  }
  .disliked:checked ~ .slider-dislike {
    @include sprite(-491px, 0, $slider-size, $slider-size);
  }
}

.switch-friends {
  position: relative;
  top: 6px;
  display: inline-block;
  width: 55px;
  height: 20px;
  background-color: $post-footer-text-color;
  border-radius: 34px;
  input {
    display: inline-block;
    height: 20px;
    width: 16px;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }
  .slider-dislike {
    background: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform .2s;
    @include size($slider-size);
  }
  .none:checked ~ .slider-dislike {
    transform: translateX(17px);
  }
  .liked:checked ~ .slider-dislike {
    background: #25aae1;
    transform: translateX(35px);
  }
  .disliked:checked ~ .slider-dislike {
    background: #f2295f;
  }
  .minus, .plus {
    display: inline-block;
    @include size(24px);
    border-radius: 5px;
    position: absolute;
    top: -2px;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    font-family: "Panton-Bold";
    font-size: 18px;
    line-height: 23px;
    padding: 0;
    cursor: pointer;
  }
  .minus {
    background: #25aae1;
    left: -28px;
  }
  .plus {
    background: #f2295f;
    right: -28px;
  }
}

.comment {
  font-size: 12px;
  cursor: pointer;
  .icon {
    position: relative;
    top: 3px;
  }
  .comment-text {
    text-decoration: underline;
    padding-left: 3px;
  }
  &:hover {
    .comment-text {
      color: darken($post-footer-text-color, 10%);
    }
  }
}

.repost {
  cursor: pointer;
  font-family: "Panton-Bold";
  font-size: 12px;
  font-style: italic;
  .icon {
    position: relative;
    top: 3px;
  }
}

@import "includes/news";
@import "includes/messenger";